
/*
etiqueta {
    porpiedad: valor;
}
.clase {
    propiedad:valor;
}
#id {
    propiedad:valor;
}

ejemplos de combinaciones
.rojo span
#parrafo strong
.letraverde #elemento

*/
* {
margin: 0;
padding: 0;
border: 0;

}

h2 {
    color: blue;
    font-size: 40px;
}

.rojo {
    color: rgb(255, 0, 0);
}

.subrayado {
    font-size: 100px;
    color: black;
    text-decoration: underline;
}

#parrafo {
    border: 20px solid purple;
    font-size: 20px;
}
p strong{
    text-transform: uppercase;
    font-size: 30px;
}
.container > p {
    border:  1px dashed red;
}

input[type="text"]{
    width: 350px;
}

input[type="number"]{
    height: 100px;
}

input ,textarea {
    border: 10px solid red;
}

#color{
    color: rgb(252, 206, 1);
    background-color: yellow;
    display:inline;
}
.tamano{
    background-color: grey;
    width: 400px; 
    height: 50px;
}

.texto{
    text-align: center; /*left, center, right, justify*/
    text-decoration: line-through;
    font-style: italic;
    font-weight: 900;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

.fondo{
    width: 600px;
    height: 1000px;
    border: 1px solid black;

    background-color: rebeccapurple;
    background-image: url(../img/gatito.png);
    background-repeat: no-repeat;
    background-size: contain;
}

#modelo_caja {
    background-color: lightblue;
    width: 200px;
    height: 200px;
    margin: 20px;
    margin-top: 100px;
    margin: 50px 15px; /*arribaabajo, izquierdaderecha*/
    margin: 50px 10px 40px 50px; /*arriba, derecha, abajo, izquierda*/
    padding: 100px;
    padding-left: 1px;
    padding-right: 1px;
    padding-bottom: 10px;
    border: dotted black;
}
/*me despliega os elementos en una sola linea pero no puedo asignar tamaño*/
h3 {
    display: inline;
}


.inline-block {
    /*me permite coloccar todos los elelemntos en una linea y asignrles tamañana*/
    display: inline-block;
    width: 300px;
    border: 1px solid #000000;
    vertical-align: top; /*aliena verticalmente, solo ls que tengan inline-block*/

}

#div1{
    height: 150px;
}
#div2{
    height: 300px;
}

#div3{
    height: 500px;
}

