/*reset*/
*{
    border: 0;
    padding: 0;
    margin: 0;
}


section, div {
    border: 1px solid black;
    padding: 10px;
    margin: 5px;
}

.container1{
    background-color: red;
    width: 1200px;
    height: 200px;
    display: flex; /*se coloca al padre*/
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center; /**/
    flex-wrap: wrap;
}

/*section
.container1 section
.s1,.s2,.s3*/
.container1 section{
    width: 200px;
    background-color: yellow;
}

.container2{
    background-color: violet;
    width: 1200px;
    height: 200px;
    display: flex;
    gap: 10%;
}

.container2 section{
background-color: white;
flex: 1;


}


.container2 .section2{
    flex: 2;
}
/*
section1= 1
section2=1
section3=1
*/

.container2 .section3{
    flex: 3;
}